aiohttp==3.8.3
APScheduler==3.10.1
bencoder==0.2.0
cacheout==0.14.1
certifi==2023.5.7
cn2an==0.5.20
emoji==2.6.0
expiringdict==1.2.2
Flask==2.3.2
Flask_APScheduler==1.12.4
iso639==0.1.4
iso639_lang==2.1.0
Jinja2==3.1.2
lxml==4.9.3
movie_bot_api==0.0.56
PlexAPI==4.14.0
py7zr==0.20.5
pyDes==2.0.1
pymediainfo==6.0.1
pypinyin==0.49.0
qbittorrent_api==2023.7.52
rarfile==4.0
six==1.16.0
tenacity==8.2.2
yarl==1.9.2
